# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Ejercicio_1_25-02-2026.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
